@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.open-sens-normal{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 2rem;
font-weight: 800;
} 

/* banner styles */
.banner-profile-pic{
 width: 450px;
 height: 400px;
 }
.banner-container{
    display: flex; 
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
  margin: 0 auto;
  width: 800px;
  height: 700px;
}
.banner-description{
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 50px;
    }
.btn-primary{
    background-color: rgb(229, 84, 115);
    border: none;
    width: 170px;
    height: 64px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color:white;
}

/* Featured Styles */
.featured{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.featured-font{
    font-size: 1.5rem;
   font-weight: 700;
   color: rgb(39, 39, 39);
   text-align: center;
}
.cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.card-1{
    border-radius: 300px 300px 0 0;
    background: rgba(167, 33, 98, 0.15);
    width: 420px;
    height: 500px;
}
.card-2{
    border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
   width: 420px;
   height: 500px;
}
.card-3{
    width: 420px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
}
.direction{
   width: 250px;
   height: 350px;
   margin: 110px 78px 20px 76px;
}

/* services */
.service-container{
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
}
.card-4{
    width: 400px;
    text-align: center;
}
.service-description{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
}
/* Main Section */
.offer-container{
    display: flex;
    justify-content: space-around;
    /* text-align: center;
    align-items: center; */
    margin-top: 128px;
}
.offer-content{
width: 550px;
height: 220px;
text-align: center;
}
.off{
    color: rgb(229, 84, 115);
}
/* Instagram section */
.instagram{
max-width: 600px;
text-align: center;
margin: 0 auto;
}
.box{
    display: flex;
    justify-content: space-around; 
    width: 342px;
   height: 396px;
   margin: 0 150px;
   gap:24px;
}

/* Footer Section */
.footer-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    margin: 128px 200px 128px 150px;

}
.input{
    width: 600px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: none;   
    margin: 0px 200px;
}

/* copywrite */
.copywrite{
background: rgb(17, 16, 16);
width: 1670px;
height: 440px;
}
.copywrite-title{
    display: flex;
    justify-content: center;
 margin: 100px 150px 20px 160px;
 padding: 100px 100px 20px 100px;
 color: rgb(229, 84, 115);
}
span{
    color:white;
}
.copywrite-description{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 200px 10px 550px;
}
.copywrite-message{
    color:rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
}