@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.open-sens-normal{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 35px;
font-weight: 800;
text-align: left;
} 

/* banner styles */
.banner-profile-pic{
    width: 520px;
    height: 630px; 
    position: absolute;
    margin: 50px 0px 0px 1100px;
 }
.banner-container{
    display: flex; 
    justify-content: space-between;
    /* margin: 0 35px 0;  */
    width: 1650px;
    height: 800px;
}
.banner-content{
    margin: 100px 500px 100px 100px;
}
.banner-header{
    width: 400px;
}
.banner-description{
    width: 700px;
    /* height: 150px; */
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-right: 500px;
}
.btn-primary{
    margin-top: 150px;
    background-color: rgb(229, 84, 115);
    border: none;
    width: 170px;
    height: 64px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    color:white;
}

/* Featured Styles */
.featured{
    width: 500px;
    height: 400px;
}

.featured-title{
    margin: 100px 500px 24px 600px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.featured-des{
   margin: 20px 0px 10px 800px;
   padding: 0px 200px;
   color:rgba(39, 39, 39, 0.6);
   display: flex;
   justify-content: center ;
   text-align: center;
}
.featured-font{
    font-size: 24px;
   font-weight: 700;
   color: rgb(39, 39, 39);
   text-align: center;
}
.background-pic{
    display: flex;
    justify-content: space-between;
    margin-top: 20px ;
    margin-bottom: 100px;
    border: 20px 10px;
}
.pinkflower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 450px;
    height: 530px;
}
.redflower{
    border-radius: 300px 300px 0px 0px;
   background: rgba(5, 151, 160, 0.15);
   width: 450px;
   height: 530px;
}
.yellowflower{
    width: 450px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
   background: rgba(71, 125, 17, 0.15);
}
.direction{
   width: 280px;
   height: 380px;
   margin: 110px 78px 20px 76px;
}

/* services */
.service-container{
   margin: 86px 175px 87px 175px;
}
.service-images{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.service-description{
    font-size: 24px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    text-align: center;
    display: flex;
    justify-content: space-around;
}
/* Main Section */
.offer-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;
}
/* Instagram section */
.instagram{
display: flex;
justify-content: center;
text-align: center;
}
.box{
    display: flex;
    justify-content: space-around; 
    width: 342px;
   height: 396px;
   margin: 0 150px;
   gap:24px;
}

/* Footer Section */
.footer-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(../images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    margin: 128px 200px 128px 150px;

}
.input{
    width: 600px;
    height: 60px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: none;   
    margin: 0px 200px;
}
.banner-description{
   margin: 0 280px;
}

/* copywrite */
.copywrite{
background: rgb(17, 16, 16);
width: 1670px;
height: 440px;
}
.copywrite-title{
    display: flex;
    justify-content: center;
 margin: 100px 150px 20px 160px;
 padding: 100px 100px 20px 100px;
 color: rgb(229, 84, 115);
}
span{
    color:white;
}
.copywrite-description{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px 200px 10px 550px;
}
.copywrite-message{
    color:rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
}